/*TO LINK THE FONTS IN GRAPH'S HEAD : <link rel="stylesheet" href="assets/css/graph-style.css">*/
@import url("variables.css");

body {
    background-color: var(--black-bg);
    color: var(--black-color);
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

p {
    text-align: center;
    color: #888;
    font-size: 14px;
    margin-top: 0;
}
