:root {
    --newspaper-bg: #f7f3e8;
    --black-bg: #000000;
    --margin-white: #ffffff;
    --margin-black: #000000;
    --paper: #f0ece2;
    /* the one used previously for newspaper bg */
    --font-size-base:24px;
    /*--font-size: 24px; *//*12px*/
    --newspaper-color: black;
    --black-color: white;
    --black-font: "Arial",
        sans-serif;;
    --newspaper-font:"Times New Roman",
        Times,
        serif;

    /* ribbon on top*/
    --ribbon-font-size: calc(--font-size-base*0.65);

    /* FOR HINT BOXES*/
    /* Shared layout */
    --hintbox-box-padding: 20px;
    --hintbox-box-font-size: var(--font-size-base);

    /* Newspaper */
    --hintbox-news-accent: #d4ae2f;
    --hintbox-news-bg: rgba(255, 216, 77, 0.243);
    --hintbox-news-text: #000000;

    /* Black section */
    --hintbox-dark-accent: #e6c46a;
    --hintbox-dark-bg: rgba(230, 196, 106, 0.10);
    --hintbox-dark-text: var(--black-color);/*#fcb900*/

    /* chevron */
    --hintbox-shevron-size: calc(var(--hintbox-box-font-size));

}